:root {
  --PrimaryColor: #fdfce5;
  --SecondaryColor: #be3235;
  --Money: rgb(13, 175, 13);
  --LinkColor: #007bff;
}

html,
.PrimaryColor {
  background-color: var(--PrimaryColor);
}

.SecondaryColor {
  background-color: var(--SecondaryColor);
}

.PrimaryFont {
  font-family: Lobster;
}
.DashBoardFont{
  font-family: 'Times New Roman', Times, serif !important;
}
/* NavBar */
.navbarBrand {
  font-size: 24px !important;
}

.nav-link {
  font-size: 20px !important;

}

a {
  cursor: pointer;
}

a.active {
  color: var(--LinkColor) !important;
}

/* Header */



/* Loading */
.spinner-border {
  width: 80px !important;
  height: 80px !important;
}

/* Test boxes */
.blackbox {
  border: 5px solid black;
}

.redbox {
  border: 5px solid red;

}

/* Menu & List Stuff */

.listHeading {
  font-size: calc(16px + 2vmin);
  color: var(--SecondaryColor)
}

.listTitle {
  font-size: calc(13px + 2vmin);
}

.listPrices {
  font-size: calc(10px + 2vmin);
}

.money {
  color: var(--Money)
}

.hr-big {
  border: 1px solid var(--SecondaryColor) !important;
  width: 250px;
}

.hr-small {
  border: 1px solid black !important;
  width: 20px;
}

/* Contact Stuff */
.contactTitle {
  font-size: calc(24px + 2vmin);
}

.contactInfo,
.contactInfo>* {
  font-size: calc(12px + 2vmin);
}

.footer-text {
  font-size: calc(15px + 2vmin);
}